Repository vikramlearning/blazorbootstrap, pull requests merged in 2023-12, with the labels that each got.

#458 .NET 8 docs - Web Assembly & Web App - Server - Global
  docs/docs/01-getting-started/01-getting-started-webassembly-NET-8.mdx
  docs/docs/01-getting-started/02-getting-started-webassembly-NET-6-and-NET-7.mdx
  docs/docs/01-getting-started/03-getting-started-server-NET-8.mdx
  docs/docs/01-getting-started/04-getting-started-server-NET-6-and-NET-7.mdx
  docs/docs/01-getting-started/05-getting-started-maui-blazor.mdx
  docs/docusaurus.config.js
  docs/src/pages/index.js
Labels: documentation, .NET 8

#468 Modal Throws Error on Navigating Away in .NET 8
  blazorbootstrap/wwwroot/blazor.bootstrap.js
Labels: area-modal, .NET 8

#470 Readme - Add docs and demos links for quick reference
  README.md
Labels: documentation

#473 Add hide methods to Accordion
  blazorbootstrap/Components/Accordion/Accordion.razor.cs
Labels: enhancement, area-accordion

#478 Grid docs update
  docs/docs/05-components/grid.mdx
Labels: documentation, area-grid

#476 Add Accordion show/hide all methods
  BlazorBootstrap.Demo.RCL/Pages/Accordion/AccordionDocumentation.razor
  BlazorBootstrap.Demo.RCL/Pages/Accordion/Accordion_Demo_06_Show_Hide_Individual_AccordionItems.razor
  BlazorBootstrap.Demo.RCL/Pages/Accordion/Accordion_Demo_07_Show_Hide_All_AccordionItems.razor
  BlazorBootstrap.Demo.RCL/Pages/Accordion/Accordion_Demo_08_Events.razor
  blazorbootstrap/Components/Accordion/Accordion.razor.cs
  docs/docs/05-components/accordion.mdx
Labels: enhancement, area-accordion

#482 Grid PageSizeSelector dropdown is default to smallest value
  BlazorBootstrap.Demo.Server/Program.cs
  blazorbootstrap/Components/Grid/Grid.razor
  blazorbootstrap/Components/Grid/Grid.razor.cs
Labels: bug, area-grid

#483 Grid: Auto hide paginations on few elements
  BlazorBootstrap.Demo.RCL/Pages/Grid/GridDocumentation.razor
  BlazorBootstrap.Demo.RCL/Pages/Grid/Grid_Demo_33_AutoHide_Paging.razor
  blazorbootstrap/Components/Grid/Grid.razor
  blazorbootstrap/Components/Grid/Grid.razor.cs
  docs/docs/05-components/grid.mdx
Labels: enhancement, area-grid

#484 how to change legend position in chat #481
  BlazorBootstrap.Demo.RCL/Pages/Charts/PieCharts/PieChartDocumentation.razor
  BlazorBootstrap.Demo.RCL/Pages/Charts/PieCharts/PieChart_Demo_03_Change_Legend_Position.razor
  docs/docs/06-data-visualization/pie-chart.mdx
Labels: area-charts, pie-chart

#488 toast dispose issue
  blazorbootstrap/Components/Toasts/Toast.razor.cs
  blazorbootstrap/wwwroot/blazor.bootstrap.js
Labels: area-toasts

#490 Getting started docs update
  BlazorBootstrap.Demo.RCL/BlazorBootstrap.Demo.RCL.csproj
  BlazorBootstrap.Demo.RCL/Pages/GettingStarted/GettingStartedDocumentation.razor
  BlazorBootstrap.Demo.RCL/Pages/GettingStarted/maui-blazor/GettingStartedDocumentation.razor
  BlazorBootstrap.Demo.RCL/Pages/GettingStarted/maui-blazor/Snippet_01_A_Starter_Template_Add_CSS_References_Index.html
  BlazorBootstrap.Demo.RCL/Pages/GettingStarted/maui-blazor/Snippet_02_Starter_Template_Add_Script_References_Index.html
  BlazorBootstrap.Demo.RCL/Pages/GettingStarted/maui-blazor/Snippet_03_Starter_Template_Register_services_Program.cs
  BlazorBootstrap.Demo.RCL/Pages/GettingStarted/maui-blazor/Snippet_04_Starter_Template_Imports.razor
  BlazorBootstrap.Demo.RCL/Pages/GettingStarted/maui-blazor/Snippet_05_Starter_Template_Remove_Default_References_Index.html
  BlazorBootstrap.Demo.RCL/Pages/GettingStarted/server/GettingStartedDocumentation.razor
  BlazorBootstrap.Demo.RCL/Pages/GettingStarted/server/Snippet_01_A_Starter_Template_Add_CSS_References_Index.html
  BlazorBootstrap.Demo.RCL/Pages/GettingStarted/server/Snippet_01_B_Starter_Template_Add_CSS_References_Index.html
  BlazorBootstrap.Demo.RCL/Pages/GettingStarted/server/Snippet_02_Starter_Template_Add_Script_References_Index.html
  BlazorBootstrap.Demo.RCL/Pages/GettingStarted/server/Snippet_03_Starter_Template_Register_services_Program.cs
  BlazorBootstrap.Demo.RCL/Pages/GettingStarted/server/Snippet_04_Starter_Template_Imports.razor
  BlazorBootstrap.Demo.RCL/Pages/GettingStarted/server/Snippet_05_Starter_Template_Remove_Default_References_Index.html
  BlazorBootstrap.Demo.RCL/Pages/GettingStarted/webassembly/GettingStartedDocumentation.razor
  BlazorBootstrap.Demo.RCL/Pages/GettingStarted/webassembly/Snippet_01_A_Starter_Template_Add_CSS_References_Index.html
  BlazorBootstrap.Demo.RCL/Pages/GettingStarted/webassembly/Snippet_01_B_Starter_Template_Add_CSS_References_Index.html
  BlazorBootstrap.Demo.RCL/Pages/GettingStarted/webassembly/Snippet_02_Starter_Template_Add_Script_References_Index.html
  BlazorBootstrap.Demo.RCL/Pages/GettingStarted/webassembly/Snippet_03_Starter_Template_Register_services_Program.cs
  BlazorBootstrap.Demo.RCL/Pages/GettingStarted/webassembly/Snippet_04_Starter_Template_Imports.razor
  BlazorBootstrap.Demo.RCL/Pages/GettingStarted/webassembly/Snippet_05_Starter_Template_Remove_Default_References_Index.html
  BlazorBootstrap.Demo.RCL/Shared/MainLayout.razor.cs
  docs/docs/01-getting-started/01-a-getting-started-webassembly-NET-8.mdx
  docs/docs/01-getting-started/01-b-getting-started-webapp-server-global-NET-8.mdx
  docs/docs/01-getting-started/01-c-getting-started-webapp-auto-global-NET-8.mdx
  docs/docs/01-getting-started/01-d-getting-started-maui-blazor-NET-8.mdx
  docs/docs/01-getting-started/02-a-getting-started-webassembly-NET-7.mdx
  docs/docs/01-getting-started/02-b-getting-started-server-NET-7.mdx
  docs/docs/01-getting-started/02-c-getting-started-maui-blazor-NET-7.mdx
  docs/docs/01-getting-started/03-a-getting-started-webassembly-NET-6.mdx
  docs/docs/01-getting-started/03-b-getting-started-server-NET-6.mdx
  docs/docs/01-getting-started/04-getting-started-webassembly-NET-6-and-NET-7.mdx
  docs/docs/01-getting-started/05-getting-started-server-NET-6-and-NET-7.mdx
Labels: documentation
