Repository vikramlearning/blazorbootstrap, pull requests merged in 2023-10, with the labels that each got.

#386 Sidebar: Add option to space items #276 - Docs
  docs/blog/2023-10-14-blazorbootstrap-1.10.3.md
  docs/docs/05-components/sidebar.md
Labels: area-sidebar

#402 Added empty cell to fix tooltips documentation and solve #399
  docs/docs/05-components/tooltips.md
Labels: documentation, area-tooltip

#398 Grid: Fixed Header
  BlazorBootstrap.Demo.RCL/Pages/Grid/GridDocumentation.razor
  BlazorBootstrap.Demo.RCL/Pages/Grid/Grid_Demo_31_Fixed_Header_A.razor
  BlazorBootstrap.Demo.RCL/Pages/Grid/Grid_Demo_31_Fixed_Header_B.razor
  blazorbootstrap/Components/Grid/Grid.razor
  blazorbootstrap/Components/Grid/Grid.razor.cs
  blazorbootstrap/Components/Grid/GridColumn.razor.cs
  blazorbootstrap/Components/Grid/GridColumnFilter.razor.cs
  blazorbootstrap/Enums/Unit.cs
  blazorbootstrap/Utilities/BootstrapClassProvider.cs
  blazorbootstrap/wwwroot/blazor.bootstrap.css
  docs/blog/2023-10-14-blazorbootstrap-1.10.3.md
  docs/docs/05-components/grid.md
Labels: area-grid

#419 Preserve whitespace to prevent text selection when the user clicks on…
  blazorbootstrap/Components/Form/Switch/Switch.razor
Labels: area-switch
