Repository vikramlearning/blazorbootstrap, pull requests merged in 2023-11, with the labels that each got.

#421 Update docs & example for static backdrop modal
  BlazorBootstrap.Demo.RCL/Pages/Modal/Modal_Demo_02_Static_Backdrop.razor
  docs/docs/05-components/modal.md
Labels: area-modal

#406 Grid: Freeze Columns
  BlazorBootstrap.Demo.RCL/Pages/Grid/GridDocumentation.razor
  BlazorBootstrap.Demo.RCL/Pages/Grid/Grid_Demo_31_Fixed_Header_B_With_Filters.razor
  BlazorBootstrap.Demo.RCL/Pages/Grid/Grid_Demo_32_Freeze_Column_A_Text_Nowrap.razor
  BlazorBootstrap.Demo.RCL/Pages/Grid/Grid_Demo_32_Freeze_Column_B_Fixed_Header.razor
  BlazorBootstrap.Demo.RCL/Pages/Grid/Grid_Demo_32_Freeze_Column_C_Fixed_Header_with_Filters.razor
  blazorbootstrap/Components/Grid/Grid.razor
  blazorbootstrap/Components/Grid/Grid.razor.cs
  blazorbootstrap/Components/Grid/GridColumn.razor.cs
  blazorbootstrap/Enums/FreezeDirection.cs
  blazorbootstrap/wwwroot/blazor.bootstrap.css
  blazorbootstrap/wwwroot/blazor.bootstrap.js
  docs/docs/05-components/grid.md
Labels: area-grid

#384 Chart size updates
  BlazorBootstrap.Demo.RCL/Pages/Charts/BarCharts/BarChart_Demo_01_Examples.razor
  BlazorBootstrap.Demo.RCL/Pages/Grid/Grid_Demo_31_Fixed_Header_A.razor
  BlazorBootstrap.Demo.RCL/Pages/Grid/Grid_Demo_31_Fixed_Header_B_With_Filters.razor
  BlazorBootstrap.Demo.RCL/Pages/Grid/Grid_Demo_32_Freeze_Column_A_Text_Nowrap.razor
  BlazorBootstrap.Demo.RCL/Pages/Grid/Grid_Demo_32_Freeze_Column_B_Fixed_Header.razor
  BlazorBootstrap.Demo.RCL/Pages/Grid/Grid_Demo_32_Freeze_Column_C_Fixed_Header_With_Filters.razor
  blazorbootstrap/Components/Base/BlazorBootstrapComponentBase.cs
  blazorbootstrap/Components/Charts/BarChart.razor
  blazorbootstrap/Components/Charts/BlazorBootstrapChart.cs
  blazorbootstrap/Components/Charts/DoughnutChart.razor
  blazorbootstrap/Components/Charts/LineChart.razor
  blazorbootstrap/Components/Charts/PieChart.razor
  blazorbootstrap/Components/Grid/Grid.razor.cs
  blazorbootstrap/Enums/Unit.cs
  blazorbootstrap/Extensions/EnumExtensions.cs
  blazorbootstrap/Models/Charts/ChartOptions/ChartOptions.cs
  blazorbootstrap/Models/Charts/ChartPlugins/ChartPlugins.cs
  blazorbootstrap/wwwroot/blazor.bootstrap.js
Labels: enhancement, area-charts

#429 Preload: Add text to preload component
  BlazorBootstrap.Demo.RCL/Pages/Preload/PreloadDocumentation.razor
  BlazorBootstrap.Demo.RCL/Pages/Preload/Preload_Demo_01_Examples.razor
  BlazorBootstrap.Demo.RCL/Pages/Preload/Preload_Demo_01_Global_Preload_For_Application_A.razor
  BlazorBootstrap.Demo.RCL/Pages/Preload/Preload_Demo_01_Global_Preload_For_Application_B.razor
  BlazorBootstrap.Demo.RCL/Pages/Preload/Preload_Demo_02_Loading_Text.razor
  BlazorBootstrap.Demo.RCL/Pages/Preload/Preload_Demo_03_Change_Spinner_Color.razor
  BlazorBootstrap.Demo.RCL/Shared/MainLayout.razor
  blazorbootstrap/Components/Preload/Preload.razor
  blazorbootstrap/Components/Preload/Preload.razor.cs
  blazorbootstrap/Services/PreloadService.cs
  docs/docs/05-components/preload.md
Labels: enhancement, area-preload
