Repository vikramlearning/blazorbootstrap, pull requests merged in 2023-07, with the labels that each got.

#267 Modal service conflict with regular modals
  BlazorBootstrap.Demo.Hosted/Client/Pages/Services/ModalService/ModalService_Demo_06_Global_Modal_Service_For_Application_01.razor
  BlazorBootstrap.Demo.Server/Pages/Services/ModalService/ModalService_Demo_06_Global_Modal_Service_For_Application_01.razor
  BlazorBootstrap.Demo/Pages/Services/ModalService/ModalService_Demo_06_Global_Modal_Service_For_Application_01.razor
  BlazorBootstrap.Demo/Shared/MainLayout.razor
  blazorbootstrap/Components/Modals/Modal.razor.cs
  docs/docs/05-components/modal.md
  docs/docs/07-services/modal.md
Labels: area-modal

#272 TimeInput: Changing value does not work #271
  BlazorBootstrap.Demo.Hosted/Client/Pages/Form/TimeInput/TimeInput_Demo_06_Events_Value_Changed.razor
  BlazorBootstrap.Demo.Hosted/Client/Pages/Form/TimeInput/TimeInput_Demo_07_Restrict_The_Time_Field_Based_On_The_Entry_In_Another_Time_Field.razor
  BlazorBootstrap.Demo.Server/Pages/Form/TimeInput/TimeInput_Demo_06_Events_Value_Changed.razor
  BlazorBootstrap.Demo.Server/Pages/Form/TimeInput/TimeInput_Demo_07_Restrict_The_Time_Field_Based_On_The_Entry_In_Another_Time_Field.razor
  BlazorBootstrap.Demo/Pages/Form/TimeInput/TimeInput_Demo_06_Events_Value_Changed.razor
  BlazorBootstrap.Demo/Pages/Form/TimeInput/TimeInput_Demo_07_Restrict_The_Time_Field_Based_On_The_Entry_In_Another_Time_Field.razor
  blazorbootstrap/Components/Form/TimeInput/TimeInput.razor.cs
  docs/blog/2023-07-11-blazorbootstrap-1.9.5.md
Labels: area-time-picker

#281 Cannot change modal type on static modals
  blazorbootstrap/Components/Modals/Modal.razor.cs
  docs/blog/2023-07-13-blazorbootstrap-1.9.5.md
  docs/docs/05-components/modal.md
Labels: area-modal

#288 Added null check for chart tooltipLine beforeDraw event. Fixes #283.
  blazorbootstrap/wwwroot/blazor.bootstrap.js
Labels: area-charts

#290 SidebarItem without childs, CustomIconName not passed to Icon #286
  blazorbootstrap/Components/Sidebar/SidebarItem.razor
Labels: area-sidebar

#302 Chart options to control the chart's animation
  BlazorBootstrap.Demo.Hosted/Client/Pages/GettingStarted/server/GettingStartedDocumentation.razor
  BlazorBootstrap.Demo.Hosted/Client/Pages/GettingStarted/webassembly/GettingStartedDocumentation.razor
  BlazorBootstrap.Demo.Hosted/Client/Pages/Index.razor
  BlazorBootstrap.Demo.Server/Pages/GettingStarted/server/GettingStartedDocumentation.razor
  BlazorBootstrap.Demo.Server/Pages/GettingStarted/webassembly/GettingStartedDocumentation.razor
  BlazorBootstrap.Demo.Server/Pages/Index.razor
  BlazorBootstrap.Demo/Pages/Charts/BarCharts/ChartsDocumentation.razor
  BlazorBootstrap.Demo/Pages/Charts/BarCharts/Charts_Demo_01_Static_Colors.razor
  BlazorBootstrap.Demo/Pages/Charts/BarCharts/Charts_Demo_02_Dynamic_Colors.razor
  BlazorBootstrap.Demo/Pages/Charts/ChartsDocumentation.razor
  BlazorBootstrap.Demo/Pages/Charts/Charts_Demo_01_BarChart_Examples.razor
  BlazorBootstrap.Demo/Pages/Charts/Charts_Demo_02_BubbleChart_Examples.razor
  BlazorBootstrap.Demo/Pages/Charts/Charts_Demo_03_DoughnutChart_Examples.razor
  BlazorBootstrap.Demo/Pages/Charts/Charts_Demo_04_LineChart_Examples.razor
  BlazorBootstrap.Demo/Pages/Charts/Charts_Demo_05_PieChart_Examples.razor
  BlazorBootstrap.Demo/Pages/Charts/Charts_Demo_06_PolarAreaChart_Examples.razor
  BlazorBootstrap.Demo/Pages/Charts/Charts_Demo_07_RadarChart_Examples.razor
  BlazorBootstrap.Demo/Pages/Charts/Charts_Demo_08_ScatterChart_Examples.razor
  BlazorBootstrap.Demo/Pages/Charts/DoughnutCharts/ChartsDocumentation.razor
  BlazorBootstrap.Demo/Pages/Charts/DoughnutCharts/Charts_Demo_01_DoughnutChart_Examples.razor
  BlazorBootstrap.Demo/Pages/Charts/LineCharts/ChartsDocumentation.razor
  BlazorBootstrap.Demo/Pages/Charts/LineCharts/Charts_Demo_01_LineChart_Examples.razor
  BlazorBootstrap.Demo/Pages/Charts/LineCharts/Charts_Demo_02_LineChart_Examples.razor
  BlazorBootstrap.Demo/Pages/Charts/PieCharts/ChartsDocumentation.razor
  BlazorBootstrap.Demo/Pages/Charts/PieCharts/Charts_Demo_01_PieChart_Examples.razor
  BlazorBootstrap.Demo/Pages/GettingStarted/server/GettingStartedDocumentation.razor
  BlazorBootstrap.Demo/Pages/GettingStarted/webassembly/GettingStartedDocumentation.razor
  BlazorBootstrap.Demo/Pages/Index.razor
  BlazorBootstrap.Demo/Shared/MainLayout.razor.cs
  BlazorBootstrap.Demo/Usings.cs
  blazorbootstrap/Components/Charts/BarChart.razor.cs
  blazorbootstrap/Components/Charts/BaseChart.cs
  blazorbootstrap/Components/Charts/DoughnutChart.razor.cs
  blazorbootstrap/Components/Charts/LineChart.razor.cs
  blazorbootstrap/Components/Charts/PieChart.razor.cs
  blazorbootstrap/Extensions/ColorExtensions.cs
  blazorbootstrap/Models/Charts/ChartData.cs
  blazorbootstrap/Models/Charts/ChartDataset/ChartDataset.cs
  blazorbootstrap/Models/Charts/ChartDataset/ChartDatasetData.cs
  blazorbootstrap/Models/Charts/ChartDataset/DoughnutChartDataset.cs
  blazorbootstrap/Models/Charts/ChartDataset/LineChartDataset.cs
  blazorbootstrap/Models/Charts/ChartDataset/PieChartDataset.cs
  blazorbootstrap/Models/Charts/ChartOptions/ChartOptions.cs
  blazorbootstrap/Utilities/ColorBuilder.cs
  blazorbootstrap/wwwroot/blazor.bootstrap.js
Labels: area-charts
