Repository vikramlearning/blazorbootstrap, pull requests merged in 2024-09, with the labels that each got.

#866 #865: Dropdown docs fixed.
  docs/docs/05-components/dropdown.mdx
Labels: documentation, area-dropdown-buttons

#829 Descriptions to the Interaction Modes.
  blazorbootstrap/Models/Charts/ChartOptions/ChartOptions.cs
Labels: area-charts

#828 Line Chart Fill
  BlazorBootstrap.Demo.RCL/Components/Pages/Charts/LineCharts/LineChartDocumentation.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Charts/LineCharts/LineChart_Demo_01_A_Examples.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Charts/LineCharts/LineChart_Demo_05_Tick_Configuration.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Charts/LineCharts/LineChart_Demo_06_Dataset_Fill.razor
  blazorbootstrap/Models/Charts/ChartDataset/LineChart/LineChartDataset.cs
Labels: area-charts, area-line-chart

#833 ChartDataset.Data generics
  blazorbootstrap/Models/Charts/ChartDataset/BarChart/BarChartDataset.cs
  blazorbootstrap/Models/Charts/ChartDataset/ChartDataset.cs
  blazorbootstrap/Models/Charts/ChartDataset/DoughnutChart/DoughnutChartDataset.cs
  blazorbootstrap/Models/Charts/ChartDataset/LineChart/LineChartDataset.cs
  blazorbootstrap/Models/Charts/ChartDataset/PieChart/PieChartDataset.cs
  blazorbootstrap/Models/Charts/ChartDataset/PolarAreaChart/PolarAreaChartDataset.cs
  blazorbootstrap/Models/Charts/ChartDataset/RadarChart/RadarChartDataset.cs
  blazorbootstrap/Models/Charts/ChartDataset/ScatterChart/ScatterChartDataset.cs
Labels: area-charts
