Repository vikramlearning/blazorbootstrap, pull requests merged in 2024-07, with the labels that each got.

#782 Grid row selection - highlight the row
  BlazorBootstrap.Demo.RCL/Components/Pages/Grid/06-selection/Grid_Demo_01_Selection.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Grid/06-selection/Grid_Demo_02_Multiple_Selection.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Grid/06-selection/Grid_Demo_03_Disable_Selection.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Grid/06-selection/Grid_Demo_04_A_Change_Selected_Row_Background_Color.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Grid/06-selection/Grid_Demo_04_B_Selected_Row_CSS_Variables.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Grid/06-selection/Grid_Selection_Documentation.razor
  BlazorBootstrap.Demo.RCL/Components/Shared/Demo.razor
  BlazorBootstrap.Demo.RCL/Components/Shared/Extensions/EnumExtensions.cs
  blazorbootstrap/wwwroot/blazor.bootstrap.css
  docs/docs/05-components/grid.mdx
Labels: area-grid

#794 Update ribbon docs - fix copy/paste miss
  docs/docs/05-components/ribbon.mdx
Labels: documentation, area-ribbon

#800 #798: Grid default loading placeholder updates + row selection relate…
  blazorbootstrap/Components/Grid/Grid.razor
  blazorbootstrap/Components/Grid/Grid.razor.cs
  blazorbootstrap/wwwroot/blazor.bootstrap.css
Labels: area-grid

#801 Sidebar2: Indentation - Culture specific issue fixed
  blazorbootstrap/Components/Sidebar2/Sidebar2Item.razor.cs
Labels: area-sidebar-2

#804 Can't view PDF in MAUI Blazor
  blazorbootstrap/wwwroot/blazor.bootstrap.pdf.js
  blazorbootstrap/wwwroot/pdfjs-4.0.379.min.js
  blazorbootstrap/wwwroot/pdfjs-4.0.379.worker.min.js
Labels: area-maui, area-pdf-viewer

#817 Tabs - GetActiveTab() method added
  BlazorBootstrap.Demo.RCL/Components/Pages/Tabs/Tabs_Demo_10_Events_Example.razor
  blazorbootstrap/Components/Tabs/Tabs.razor.cs
  blazorbootstrap/EventArguments/Tabs/TabsEventArgs.cs
  docs/docs/05-components/tabs.mdx
Labels: enhancement, area-tabs
