Repository vikramlearning/blazorbootstrap, pull requests merged in 2024-03, with the labels that each got.

#612 Grid: Header row css class not working #599 + FiltersRowCssClass not working at all #606
  blazorbootstrap/Components/Grid/Grid.razor.cs
  blazorbootstrap/wwwroot/blazor.bootstrap.css
Labels: area-grid

#614 BarChart Width & Height properties translate to wrong style
  blazorbootstrap/Components/Charts/BlazorBootstrapChart.cs
Labels: bug, area-charts, bar-chart

#554 Fix range inputs
  BlazorBootstrap.Demo.RCL/Pages/Form/RangeInput/RangeInputDocumentation.razor
  BlazorBootstrap.Demo.RCL/Pages/Form/RangeInput/RangeInput_Demo_06_Decimals.razor
  blazorbootstrap/Components/Form/RangeInput/RangeInput.razor
  blazorbootstrap/Components/Form/RangeInput/RangeInput.razor.cs
Labels: area-range-input

#617 NumberInput - CultureInfo updates
  BlazorBootstrap.Demo.RCL/Pages/Form/NumberInput/NumberInput_Demo_02_Generic_Type.razor
  BlazorBootstrap.Demo.RCL/Pages/Form/RangeInput/RangeInputDocumentation.razor
  BlazorBootstrap.Demo.RCL/Pages/Form/RangeInput/RangeInput_Demo_05_Decimals.razor
  BlazorBootstrap.Demo.RCL/Pages/Form/RangeInput/RangeInput_Demo_06_Tick_Marks.razor
  blazorbootstrap/Components/Form/NumberInput/NumberInput.razor
  blazorbootstrap/Components/Form/NumberInput/NumberInput.razor.cs
  blazorbootstrap/Components/Form/RangeInput/RangeInput.razor.cs
  blazorbootstrap/wwwroot/blazor.bootstrap.js
  docs/docs/04-forms/number-input.mdx
  docs/docs/04-forms/range-input.mdx
  docs/package.json
Labels: area-number-input

#607 Fix formatting for CultureInfo
  BlazorBootstrap.Demo.RCL/Pages/Form/CurrencyInput/CurrencyInputDocumentation.razor
  BlazorBootstrap.Demo.RCL/Pages/Form/CurrencyInput/CurrencyInput_Demo_13_Decimals.razor
  blazorbootstrap/Components/Form/CurrencyInput/CurrencyInput.razor.cs
  blazorbootstrap/wwwroot/blazor.bootstrap.js
Labels: area-currency-input
