Repository vikramlearning/blazorbootstrap, pull requests merged in 2024-04, with the labels that each got.

#636 Sortable List Component
  BlazorBootstrap.Demo.Hosted/Client/wwwroot/appsettings.json
  BlazorBootstrap.Demo.RCL/BlazorBootstrap.Demo.RCL.csproj
  BlazorBootstrap.Demo.RCL/Pages/Charts/ChartsDocumentation.razor
  BlazorBootstrap.Demo.RCL/Pages/Index.razor
  BlazorBootstrap.Demo.RCL/Pages/SortableList/SortableListDocumentation.razor
  BlazorBootstrap.Demo.RCL/Pages/SortableList/SortableList_Demo_01_Examples.razor
  BlazorBootstrap.Demo.RCL/Pages/SortableList/SortableList_Demo_02_Shared_Lists_A.razor
  BlazorBootstrap.Demo.RCL/Pages/SortableList/SortableList_Demo_02_Shared_Lists_B_Three_Lists.razor
  BlazorBootstrap.Demo.RCL/Pages/SortableList/SortableList_Demo_03_Cloning.razor
  BlazorBootstrap.Demo.RCL/Pages/SortableList/SortableList_Demo_04_Disable_Sorting.razor
  BlazorBootstrap.Demo.RCL/Pages/SortableList/SortableList_Demo_05_Handle.razor
  BlazorBootstrap.Demo.RCL/Pages/SortableList/SortableList_Demo_06_Disable_Item.razor
  BlazorBootstrap.Demo.RCL/Pages/SortableList/SortableList_Demo_07_Nested_Sortables.razor
  BlazorBootstrap.Demo.RCL/Pages/SortableList/SortableList_Demo_08_Dynamic_Data.razor
  BlazorBootstrap.Demo.RCL/Pages/SortableList/SortableList_Demo_09_Empty_Data.razor
  BlazorBootstrap.Demo.RCL/Shared/MainLayout.razor.cs
  BlazorBootstrap.Demo.Server/appsettings.json
  BlazorBootstrap.Demo.WebAssembly/wwwroot/appsettings.json
  BlazorBootstrap.Demo.WebAssembly/wwwroot/index.html
  blazorbootstrap/Components/SortableList/SortableList.razor
  blazorbootstrap/Components/SortableList/SortableList.razor.cs
  blazorbootstrap/Components/SortableList/SortableList.razor.css
  blazorbootstrap/Components/SortableList/SortableListJsInterop.cs
  blazorbootstrap/Config.cs
  blazorbootstrap/Enums/SortableListPullMode.cs
  blazorbootstrap/Enums/SortableListPutMode.cs
  blazorbootstrap/EventArguments/SortableListEventArgs.cs
  blazorbootstrap/Extensions/EnumExtensions.cs
  blazorbootstrap/wwwroot/blazor.bootstrap.sortable-list.js
  docs/docs/05-components/sortable-list.mdx
  docs/docs/05-components/spinners.mdx
  docs/docs/05-components/tabs.mdx
  docs/docs/05-components/toasts.mdx
  docs/docs/05-components/tooltips.mdx
  docs/docusaurus.config.js
Labels: new component, area-sortable-list

#646 Remove dynamic tabs
  BlazorBootstrap.Demo.RCL/Pages/Tabs/TabsDocumentation.razor
  BlazorBootstrap.Demo.RCL/Pages/Tabs/Tabs_Demo_13_Dynamic_Tabs.razor
  BlazorBootstrap.Demo.RCL/Pages/Tabs/Tabs_Demo_14_Remove_Dynamic_Tabs.razor
  blazorbootstrap/Components/Tabs/Tabs.razor.cs
  docs/docs/05-components/tabs.mdx
Labels: enhancement, area-tabs

#641 Autofocus yes button in confirm dialog
  blazorbootstrap/Components/ConfirmDialog/ConfirmDialog.razor
  blazorbootstrap/wwwroot/blazor.bootstrap.js
Labels: area-confirm-dialog

#647 Confirm dialog updates
  blazorbootstrap/Components/ConfirmDialog/ConfirmDialog.razor.cs
  blazorbootstrap/wwwroot/blazor.bootstrap.js
Labels: area-confirm-dialog

#648 Disable auto focus on the yes button
  BlazorBootstrap.Demo.RCL/Pages/ConfirmDialog/ConfirmDialogDocumentation.razor
  BlazorBootstrap.Demo.RCL/Pages/ConfirmDialog/ConfirmDialog_Demo_01_Examples.razor
  BlazorBootstrap.Demo.RCL/Pages/ConfirmDialog/ConfirmDialog_Demo_08_Disable_AutoFocus_Yes_Button.razor
  BlazorBootstrap.Demo.RCL/Pages/Index.razor
  blazorbootstrap/Components/ConfirmDialog/ConfirmDialog.razor.cs
  blazorbootstrap/Models/ConfirmDialogOptions.cs
  blazorbootstrap/wwwroot/blazor.bootstrap.js
  docs/docs/05-components/confirm-dialog.mdx
Labels: area-confirm-dialog

#652 Ribbon component
  BlazorBootstrap.Demo.RCL/BlazorBootstrap.Demo.RCL.csproj
  BlazorBootstrap.Demo.RCL/Pages/Index.razor
  BlazorBootstrap.Demo.RCL/Pages/Ribbon/RibbonDocumentation.razor
  BlazorBootstrap.Demo.RCL/Pages/Ribbon/Ribbon_Demo_01_How_It_Works.razor
  BlazorBootstrap.Demo.RCL/Pages/Ribbon/Ribbon_Demo_02_Images.razor
  BlazorBootstrap.Demo.RCL/Shared/MainLayout.razor.cs
  BlazorBootstrap.Demo.RCL/wwwroot/css/blazorbootstrap.demo.rcl.css
  BlazorBootstrap.Demo.RCL/wwwroot/icons/archive.png
  BlazorBootstrap.Demo.RCL/wwwroot/icons/bin.png
  BlazorBootstrap.Demo.RCL/wwwroot/icons/calendar.png
  BlazorBootstrap.Demo.RCL/wwwroot/icons/cancel-button.png
  BlazorBootstrap.Demo.RCL/wwwroot/icons/cancelled.png
  BlazorBootstrap.Demo.RCL/wwwroot/icons/folder-add.png
  BlazorBootstrap.Demo.RCL/wwwroot/icons/folder-copy.png
  BlazorBootstrap.Demo.RCL/wwwroot/icons/folder-delete.png
  BlazorBootstrap.Demo.RCL/wwwroot/icons/folder-move.png
  BlazorBootstrap.Demo.RCL/wwwroot/icons/folder-rename.png
  BlazorBootstrap.Demo.RCL/wwwroot/icons/folder-search.png
  BlazorBootstrap.Demo.RCL/wwwroot/icons/folder-sync.png
  BlazorBootstrap.Demo.RCL/wwwroot/icons/loading-bar.png
  BlazorBootstrap.Demo.RCL/wwwroot/icons/new-email.png
  BlazorBootstrap.Demo.RCL/wwwroot/icons/refresh.png
  BlazorBootstrap.Demo.RCL/wwwroot/js/blazorbootstrap.demo.rcl.js
  BlazorBootstrap.Demo.WebAssembly/wwwroot/index.html
  blazorbootstrap/BlazorBootstrap.csproj
  blazorbootstrap/Components/Ribbon/Ribbon.razor
  blazorbootstrap/Components/Ribbon/Ribbon.razor.cs
  blazorbootstrap/Components/Ribbon/RibbonGroup.razor
  blazorbootstrap/Components/Ribbon/RibbonGroup.razor.cs
  blazorbootstrap/Components/Ribbon/RibbonGroup.razor.css
  blazorbootstrap/Components/Ribbon/RibbonItem.razor
  blazorbootstrap/Components/Ribbon/RibbonItem.razor.cs
  blazorbootstrap/Components/Ribbon/RibbonItem.razor.css
  blazorbootstrap/Components/Ribbon/RibbonItemGroup.razor
  blazorbootstrap/Components/Ribbon/RibbonItemGroup.razor.cs
  blazorbootstrap/Components/Ribbon/RibbonItemGroup.razor.css
  blazorbootstrap/Components/Ribbon/RibbonTab.razor
  blazorbootstrap/Components/Ribbon/RibbonTab.razor.cs
  blazorbootstrap/Enums/FlexDirection.cs
  blazorbootstrap/EventArguments/Ribbon/RibbonEventArgs.cs
  blazorbootstrap/EventArguments/Ribbon/RibbonItemEventArgs.cs
  blazorbootstrap/EventArguments/Ribbon/RibbonTabEventArgs.cs
  blazorbootstrap/EventArguments/Tabs/TabEventArgs.cs
  blazorbootstrap/EventArguments/Tabs/TabsEventArgs.cs
  blazorbootstrap/Utilities/BootstrapClassProvider.cs
  docs/docs/05-components/ribbon.mdx
  docs/docs/05-components/script-loader.mdx
  docs/docs/05-components/sidebar.mdx
  docs/docs/05-components/sidebar2.mdx
  docs/docs/05-components/sortable-list.mdx
  docs/docs/05-components/spinners.mdx
  docs/docs/05-components/tabs.mdx
  docs/docs/05-components/toasts.mdx
  docs/docs/05-components/tooltips.mdx
  docs/docusaurus.config.js
  docs/package.json
Labels: area-ribbon

#669 Dialog not showing
  blazorbootstrap/Components/ConfirmDialog/ConfirmDialog.razor.cs
Labels: bug, area-confirm-dialog

#674 GridColumn's ''Class'' does not appear in final render
  BlazorBootstrap.Demo.RCL/Components/Pages/Grid/GridDocumentation.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Grid/Grid_Demo_20_Column_Css_Class.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Grid/Grid_Demo_21_Specify_Custom_Column_Header.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Grid/Grid_Demo_22_Selection.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Grid/Grid_Demo_23_Multiple_Selection.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Grid/Grid_Demo_24_Disable_Selection.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Grid/Grid_Demo_25_Dynamic_Page_Size.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Grid/Grid_Demo_26_Page_Size_Selection.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Grid/Grid_Demo_27_Header_Row_CSS_Class.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Grid/Grid_Demo_28_Filters_Row_CSS_Class.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Grid/Grid_Demo_29_Row_Click.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Grid/Grid_Demo_30_Row_Double_Click.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Grid/Grid_Demo_31_Translations.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Grid/Grid_Demo_32_Fixed_Header_A.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Grid/Grid_Demo_32_Fixed_Header_B_With_Filters.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Grid/Grid_Demo_33_Freeze_Column_A_Text_Nowrap.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Grid/Grid_Demo_33_Freeze_Column_B_Fixed_Header.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Grid/Grid_Demo_33_Freeze_Column_C_Fixed_Header_With_Filters.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Grid/Grid_Demo_34_AutoHide_Paging.razor
  blazorbootstrap/Components/Grid/GridColumn.razor.cs
  docs/docs/05-components/grid.mdx
Labels: bug, area-grid
