Repository vikramlearning/blazorbootstrap, pull requests merged in 2024-08, with the labels that each got.

#832 UpdateValuesAsync
  BlazorBootstrap.Demo.RCL/Components/Pages/Charts/LineCharts/LineChart_Demo_01_A_Examples.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Charts/LineCharts/LineChart_Demo_01_B_Examples.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Charts/LineCharts/LineChart_Demo_02_Locale.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Charts/LineCharts/LineChart_Demo_03_Dynamically_add_data.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Charts/LineCharts/LineChart_Demo_04_Datalabels.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Charts/LineCharts/LineChart_Demo_05_Tick_Configuration.razor
  blazorbootstrap/Components/Charts/BlazorBootstrapChart.cs
  blazorbootstrap/wwwroot/blazor.bootstrap.js
  docs/docs/06-data-visualization/line-chart.mdx
Labels: area-charts

#844 Google Maps - docs
  blazorbootstrap/Components/Maps/GoogleMap.razor.cs
  docs/docs/05-components/google-map.mdx
  docs/docs/05-components/grid.mdx
  docs/docs/05-components/modal.mdx
  docs/docs/05-components/offcanvas.mdx
  docs/docs/05-components/pagination.mdx
  docs/docs/05-components/pdf-viewer.mdx
  docs/docs/05-components/placeholders.mdx
  docs/docs/05-components/preload.mdx
  docs/docs/05-components/progress.mdx
  docs/docs/05-components/ribbon.mdx
  docs/docs/05-components/script-loader.mdx
  docs/docs/05-components/sidebar.mdx
  docs/docs/05-components/sidebar2.mdx
  docs/docs/05-components/sortable-list.mdx
  docs/docs/05-components/spinners.mdx
  docs/docs/05-components/tabs.mdx
  docs/docs/05-components/toasts.mdx
  docs/docs/05-components/tooltips.mdx
  docs/package.json
Labels: area-maps, area-google-maps

#848 GoogleMaps API key updated fro demos
  BlazorBootstrap.Demo.Server/BlazorBootstrap.Demo.Server.csproj
  BlazorBootstrap.Demo.Server/appsettings.json
  BlazorBootstrap.Demo.WebAssembly/wwwroot/appsettings.json
Labels: area-maps, area-google-maps

#850 Carousel component
  BlazorBootstrap.Demo.RCL/Components/Layout/MainLayout.razor.cs
  BlazorBootstrap.Demo.RCL/Components/Pages/Carousel/CarouselDocumentation.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Carousel/Carousel_Demo_01_Examples.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Carousel/Carousel_Demo_02_Indicators.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Carousel/Carousel_Demo_03_Captions.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Carousel/Carousel_Demo_04_Crossfade.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Carousel/Carousel_Demo_05_Autoplay_A_StartOnPageLoad.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Carousel/Carousel_Demo_05_Autoplay_B_StartAfterUserInteraction.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Carousel/Carousel_Demo_06_Individual_Carouselitem_Interval.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Carousel/Carousel_Demo_07_Autoplaying_Carousels_without_Controls.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Carousel/Carousel_Demo_08_Touch.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Carousel/Carousel_Demo_09_Events.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Index.razor
  BlazorBootstrap.Demo.RCL/wwwroot/images/slide-01.png
  BlazorBootstrap.Demo.RCL/wwwroot/images/slide-02.png
  BlazorBootstrap.Demo.RCL/wwwroot/images/slide-03.png
  BlazorBootstrap.Demo.RCL/wwwroot/images/slide-04.png
  BlazorBootstrap.Demo.RCL/wwwroot/images/slide-05.png
  BlazorBootstrap.Demo.RCL/wwwroot/images/slide-06.png
  blazorbootstrap/Components/Carousel/Carousel.razor
  blazorbootstrap/Components/Carousel/Carousel.razor.cs
  blazorbootstrap/Components/Carousel/CarouselCaption.razor
  blazorbootstrap/Components/Carousel/CarouselCaption.razor.cs
  blazorbootstrap/Components/Carousel/CarouselInterop.cs
  blazorbootstrap/Components/Carousel/CarouselItem.razor
  blazorbootstrap/Components/Carousel/CarouselItem.razor.cs
  blazorbootstrap/Constants/BootstrapAttributes.cs
  blazorbootstrap/Constants/BootstrapClass.cs
  blazorbootstrap/Enums/CarouselAutoPlay.cs
  blazorbootstrap/EventArguments/CarouselEventArgs.cs
  blazorbootstrap/Extensions/EnumExtensions.cs
  blazorbootstrap/Models/CarouselOptions.cs
  blazorbootstrap/wwwroot/blazor.bootstrap.js
  docs/docs/05-components/carousel.mdx
Labels: new component, area-carousel
