Repository vikramlearning/blazorbootstrap, pull requests merged in 2024-12, with the labels that each got.

#978 Form components
  BlazorBootstrap.Demo.RCL/Components/Layout/MainLayout.razor.cs
  BlazorBootstrap.Demo.RCL/Components/Pages/AI/AIChat/AIChatDocumentation.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/AI/AIChat/AIChat_Demo_01_Examples.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Form/CheckboxInput/CheckboxInputDocumentation.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Form/CheckboxInput/CheckboxInput_Demo_01_Basic_Usage.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Form/CheckboxInput/CheckboxInput_Demo_02_Disable_A.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Form/CheckboxInput/CheckboxInput_Demo_02_Disable_B.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Form/CheckboxInput/CheckboxInput_Demo_03_Events_ValueChanged.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Form/RadioInput/RadioInputDocumentation.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Form/RadioInput/RadioInput_Demo_01_Basic_Usage.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Form/RadioInput/RadioInput_Demo_02_Disable_A.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Form/RadioInput/RadioInput_Demo_02_Disable_B.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Form/RadioInput/RadioInput_Demo_03_Events_ValueChanged.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Form/TextAreaInput/TextAreaInputDocumentation.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Form/TextAreaInput/TextAreaInput_Demo_01_Basic_Usage.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Form/TextAreaInput/TextAreaInput_Demo_02_Text_Alignment.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Form/TextAreaInput/TextAreaInput_Demo_03_Disable_A.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Form/TextAreaInput/TextAreaInput_Demo_03_Disable_B.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Form/TextAreaInput/TextAreaInput_Demo_04_MaxLength.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Form/TextAreaInput/TextAreaInput_Demo_05_Validations.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Form/TextAreaInput/TextAreaInput_Demo_06_Events_ValueChanged.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Form/TextInput/TextInputDocumentation.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Form/TextInput/TextInput_Demo_01_Basic_Usage.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Form/TextInput/TextInput_Demo_02_Text_Alignment.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Form/TextInput/TextInput_Demo_03_Disable_A.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Form/TextInput/TextInput_Demo_03_Disable_B.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Form/TextInput/TextInput_Demo_04_MaxLength.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Form/TextInput/TextInput_Demo_05_Validations.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Form/TextInput/TextInput_Demo_06_Events_ValueChanged.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Index.razor
  BlazorBootstrap.Demo.RCL/Constants/RouteConstants.cs
  blazorbootstrap/BlazorBootstrap.csproj
  blazorbootstrap/Components/AI/Chat/AIChat.razor
  blazorbootstrap/Components/AI/Chat/AIChat.razor.cs
  blazorbootstrap/Components/AI/Chat/AIChatInterop.cs.cs
  blazorbootstrap/Components/Core/BlazorBootstrapComponentBase.cs
  blazorbootstrap/Components/Core/BlazorBootstrapLayoutComponentBase.cs
  blazorbootstrap/Components/Form/CheckboxInput/CheckboxInput.razor
  blazorbootstrap/Components/Form/CheckboxInput/CheckboxInput.razor.cs
  blazorbootstrap/Components/Form/RadioInput/RadioInput.razor
  blazorbootstrap/Components/Form/RadioInput/RadioInput.razor.cs
  blazorbootstrap/Components/Form/SelectInput/SelectInput.razor
  blazorbootstrap/Components/Form/SelectInput/SelectInput.razor.cs
  blazorbootstrap/Components/Form/TextAreaInput/TextAreaInput.razor
  blazorbootstrap/Components/Form/TextAreaInput/TextAreaInput.razor.cs
  blazorbootstrap/Components/Form/TextInput/TextInput.razor
  blazorbootstrap/Components/Form/TextInput/TextInput.razor.cs
  blazorbootstrap/Config.cs
  blazorbootstrap/Constants/BootstrapClass.cs
  blazorbootstrap/Models/AI/OpenAIChatMessage.cs
  blazorbootstrap/Models/AI/OpenAIChatPayload.cs
  blazorbootstrap/wwwroot/blazor.bootstrap.ai.js
  blazorbootstrap/wwwroot/blazor.bootstrap.js
Labels: area-forms

#965 Add RenderFragment content to ToastMessage
  BlazorBootstrap.Demo.RCL/Components/Pages/Toasts/ToastsDocumentation.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Toasts/Toasts_Demo_07_Toast_With_Content.razor
  blazorbootstrap/Components/Toasts/SimpleToast.razor
  blazorbootstrap/Components/Toasts/Toast.razor
  blazorbootstrap/Models/ToastMessage.cs
Labels: enhancement, area-toasts

#955 PasswordInput component
  blazorbootstrap/Components/Form/PasswordInput/PasswordInput.razor
  blazorbootstrap/Components/Form/PasswordInput/PasswordInput.razor.cs
Labels: area-password-input

#983 PasswordInput component updates
  BlazorBootstrap.Demo.RCL/Components/Layout/MainLayout.razor.cs
  BlazorBootstrap.Demo.RCL/Components/Pages/Form/PasswordInput/PasswordInputDocumentation.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Form/PasswordInput/PasswordInput_Demo_01_Basic_Usage.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Form/PasswordInput/PasswordInput_Demo_02_Disable_A.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Form/PasswordInput/PasswordInput_Demo_02_Disable_B.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Form/PasswordInput/PasswordInput_Demo_03_Validations.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Form/PasswordInput/PasswordInput_Demo_04_Events_ValueChanged.razor
  BlazorBootstrap.Demo.RCL/Components/Pages/Index.razor
  BlazorBootstrap.Demo.RCL/Constants/RouteConstants.cs
  blazorbootstrap/Components/Form/PasswordInput/PasswordInput.razor
  blazorbootstrap/Components/Form/PasswordInput/PasswordInput.razor.cs
  blazorbootstrap/Components/Form/RadioInput/RadioInput.razor.cs
Labels: area-password-input
