Repository vikramlearning/blazorbootstrap, pull requests merged in 2024-02, with the labels that each got.

#520 Nuget update
  BlazorBootstrap.Demo.Hosted/Client/BlazorBootstrap.Demo.Hosted.Client.csproj
  BlazorBootstrap.Demo.Hosted/Server/BlazorBootstrap.Demo.Hosted.Server.csproj
  BlazorBootstrap.Demo.RCL/BlazorBootstrap.Demo.RCL.csproj
  BlazorBootstrap.Demo.WebAssembly/BlazorBootstrap.Demo.WebAssembly.csproj
  blazorbootstrap/BlazorBootstrap.csproj
Labels: demos

#541 Update docs to Bootstrap 5.3.2 and Bootstrap Icons 1.11.3
  BlazorBootstrap.Demo.Hosted/Server/Pages/_Host.cshtml
  BlazorBootstrap.Demo.Server/Pages/_Host.cshtml
  BlazorBootstrap.Demo.WebAssembly/wwwroot/index.html
  docs/docs/01-getting-started/01-a-getting-started-webassembly-NET-8.mdx
  docs/docs/01-getting-started/01-b-getting-started-webapp-server-global-NET-8.mdx
  docs/docs/01-getting-started/01-c-getting-started-webapp-auto-global-NET-8.mdx
  docs/docs/01-getting-started/01-d-getting-started-maui-blazor-NET-8.mdx
  docs/docs/01-getting-started/02-a-getting-started-webassembly-NET-7.mdx
  docs/docs/01-getting-started/02-b-getting-started-server-NET-7.mdx
  docs/docs/01-getting-started/02-c-getting-started-maui-blazor-NET-7.mdx
  docs/docs/01-getting-started/03-a-getting-started-webassembly-NET-6.mdx
  docs/docs/01-getting-started/03-b-getting-started-server-NET-6.mdx
Labels: documentation

#543 Script Loader - Component + Other docs update
  BlazorBootstrap.Demo.RCL/BlazorBootstrap.Demo.RCL.csproj
  BlazorBootstrap.Demo.RCL/Pages/Index.razor
  BlazorBootstrap.Demo.RCL/Pages/ScriptLoader/ScriptLoaderDocumentation.razor
  BlazorBootstrap.Demo.RCL/Pages/ScriptLoader/ScriptLoader_Demo_01_Examples.razor
  BlazorBootstrap.Demo.RCL/Pages/Tabs/TabsDocumentation.razor
  BlazorBootstrap.Demo.RCL/Pages/Tabs/Tabs_Demo_12_Tab_Callback_Event_OnClick.razor
  BlazorBootstrap.Demo.RCL/Pages/Tabs/Tabs_Demo_13_Dynamic_Tabs.razor
  BlazorBootstrap.Demo.RCL/Shared/Components/CarbonAds.razor
  BlazorBootstrap.Demo.RCL/Shared/MainLayout.razor.cs
  blazorbootstrap/Components/ScriptLoader/ScriptLoader.razor.cs
  blazorbootstrap/Components/Tabs/Tab.razor.cs
  blazorbootstrap/Components/Tabs/Tabs.razor.cs
  blazorbootstrap/EventArguments/TabEventArgs.cs
  docs/docs/05-components/script-loader.mdx
  docs/docs/05-components/sidebar.mdx
  docs/docs/05-components/tabs.mdx
  docs/docs/05-components/toasts.mdx
  docs/docs/05-components/tooltips.mdx
Labels: area-script-loader

#544 Script Loader updates + other docs update
  BlazorBootstrap.Demo.RCL/Pages/Grid/Grid_Demo_16_Save_And_Load_Grid_Settings.razor
  BlazorBootstrap.Demo.RCL/Pages/Index.razor
  BlazorBootstrap.Demo.RCL/Pages/Offcanvas/Offcanvas_Demo_04_Static_Backdrop.razor
  BlazorBootstrap.Demo.RCL/Pages/ScriptLoader/ScriptLoaderDocumentation.razor
  BlazorBootstrap.Demo.RCL/Pages/ScriptLoader/ScriptLoader_Demo_02_Events.razor
  BlazorBootstrap.Demo.RCL/Shared/Components/CarbonAds.razor
  BlazorBootstrap.Demo.RCL/Shared/Components/CarbonAds.razor.cs
  blazorbootstrap/Components/ScriptLoader/ScriptLoader.razor.cs
  blazorbootstrap/Components/Tabs/Tabs.razor.cs
  blazorbootstrap/wwwroot/blazor.bootstrap.js
  docs/docs/05-components/script-loader.mdx
Labels: area-script-loader

#547 PDF Viewer JS call issue fixed.
  BlazorBootstrap.Demo.Hosted/Client/wwwroot/appsettings.json
  BlazorBootstrap.Demo.Server/appsettings.json
  BlazorBootstrap.Demo.WebAssembly/wwwroot/appsettings.json
  README.md
  blazorbootstrap/BlazorBootstrap.csproj
  blazorbootstrap/Components/Base/BlazorBootstrapComponentBase.cs
  blazorbootstrap/Components/PdfViewer/PdfViewer.razor.cs
  blazorbootstrap/Models/Charts/ChartOptions/ChartOptions.cs
  docs/blog/2024-02-04-blazorbootstrap-1.11.1.md
  docs/docs/01-getting-started/01-a-getting-started-webassembly-NET-8.mdx
  docs/docs/01-getting-started/01-b-getting-started-webapp-server-global-NET-8.mdx
  docs/docs/01-getting-started/01-c-getting-started-webapp-auto-global-NET-8.mdx
  docs/docs/01-getting-started/01-d-getting-started-maui-blazor-NET-8.mdx
  docs/docs/01-getting-started/02-a-getting-started-webassembly-NET-7.mdx
  docs/docs/01-getting-started/02-b-getting-started-server-NET-7.mdx
  docs/docs/01-getting-started/02-c-getting-started-maui-blazor-NET-7.mdx
  docs/docs/01-getting-started/03-a-getting-started-webassembly-NET-6.mdx
  docs/docs/01-getting-started/03-b-getting-started-server-NET-6.mdx
  docs/docs/04-forms/range-input.mdx
  nuget/README.md
Labels: area-pdf-viewer

#548 #510 - Fix Button href not updating
  blazorbootstrap/Components/Button/Button.razor.cs
Labels: area-button

#553 Spinner component
  BlazorBootstrap.Demo.RCL/BlazorBootstrap.Demo.RCL.csproj
  BlazorBootstrap.Demo.RCL/Pages/Index.razor
  BlazorBootstrap.Demo.RCL/Pages/Spinner/SpinnerDocumentation.razor
  BlazorBootstrap.Demo.RCL/Pages/Spinner/Spinner_Demo_01_Border_Spinner.razor
  BlazorBootstrap.Demo.RCL/Pages/Spinner/Spinner_Demo_02_Colors.razor
  BlazorBootstrap.Demo.RCL/Pages/Spinner/Spinner_Demo_03_Grow_spinner_A.razor
  BlazorBootstrap.Demo.RCL/Pages/Spinner/Spinner_Demo_03_Grow_spinner_B.razor
  BlazorBootstrap.Demo.RCL/Pages/Spinner/Spinner_Demo_04_Loading_dots_spinner_A.razor
  BlazorBootstrap.Demo.RCL/Pages/Spinner/Spinner_Demo_04_Loading_dots_spinner_B.razor
  BlazorBootstrap.Demo.RCL/Pages/Spinner/Spinner_Demo_05_Alignment_A_Margin.razor
  BlazorBootstrap.Demo.RCL/Pages/Spinner/Spinner_Demo_05_Alignment_B_Palcement_Flex_01.razor
  BlazorBootstrap.Demo.RCL/Pages/Spinner/Spinner_Demo_05_Alignment_B_Palcement_Flex_02.razor
  BlazorBootstrap.Demo.RCL/Pages/Spinner/Spinner_Demo_05_Alignment_C_Palcement_Floats.razor
  BlazorBootstrap.Demo.RCL/Pages/Spinner/Spinner_Demo_05_Alignment_D_Palcement_Text_align.razor
  BlazorBootstrap.Demo.RCL/Pages/Spinner/Spinner_Demo_06_Size_A_Border.razor
  BlazorBootstrap.Demo.RCL/Pages/Spinner/Spinner_Demo_06_Size_B_Grow.razor
  BlazorBootstrap.Demo.RCL/Pages/Spinner/Spinner_Demo_06_Size_C_Dots.razor
  BlazorBootstrap.Demo.RCL/Pages/Spinner/Spinner_Demo_07_Visible.razor
  BlazorBootstrap.Demo.RCL/Shared/MainLayout.razor.cs
  blazorbootstrap/Components/Spinner/Spinner.razor
  blazorbootstrap/Components/Spinner/Spinner.razor.cs
  blazorbootstrap/Components/Spinner/Spinner.razor.css
  blazorbootstrap/Enums/SpinnerSize.cs
  blazorbootstrap/Enums/SpinnerType.cs
  blazorbootstrap/Models/SpinnerCircle.cs
  blazorbootstrap/Utilities/BootstrapClassProvider.cs
  blazorbootstrap/Utilities/BootstrapStyleProvider.cs
  docs/blog/2024-02-04-blazorbootstrap-1.11.0.md
Labels: new component, area-spinner

#568 Added code of conduct and Fix SonarQube
  .github/workflows/sonar.yml
  CODE_OF_CONDUCT.md
Labels: area-builds

#584 Correct the typo in Toggle/Toogle
  BlazorBootstrap.Demo.RCL/Pages/Sidebar/Sidebar_Demo_05_Toggle_Sidebar_to_Show_Icons_Only.razor
  BlazorBootstrap.Demo.RCL/Pages/Sidebar/Sidebar_Demo_06_Show_Badge.razor
  BlazorBootstrap.Demo.RCL/Pages/Sidebar/Sidebar_Demo_07_Custom_Brand_Icon.razor
  BlazorBootstrap.Demo.RCL/Pages/Sidebar/Sidebar_Demo_08_Show_Image_as_Brand_Logo.razor
  blazorbootstrap/Components/Button/Button.razor.cs
  docs/docs/05-components/buttons.mdx
  docs/docs/05-components/sidebar.mdx
Labels: documentation

#589 Callout updates
  BlazorBootstrap.Demo.RCL/Pages/Callout/CalloutDocumentation.razor
  BlazorBootstrap.Demo.RCL/Pages/Callout/Callout_Demo_01_Examples.razor
  BlazorBootstrap.Demo.RCL/Pages/Callout/Callout_Demo_02_Change_Heading.razor
  BlazorBootstrap.Demo.RCL/Pages/Callout/Callout_Demo_04_Hide_Heading.razor
  blazorbootstrap/Components/Callout/Callout.razor
  blazorbootstrap/Components/Callout/Callout.razor.cs
  blazorbootstrap/Components/Callout/Callout.razor.css
  blazorbootstrap/Enums/Color/CalloutColor.cs
  blazorbootstrap/Utilities/BootstrapClassProvider.cs
  blazorbootstrap/wwwroot/blazor.bootstrap.css
  docs/docs/05-components/callout.mdx
  docs/docusaurus.config.js
Labels: area-callout
