Repository vikramlearning/blazorbootstrap, pull requests merged in 2024-10, with the labels that each got.

#895 Dark mode support
  BlazorBootstrap.Demo.RCL/Components/Layout/EmptyLayout.razor
  BlazorBootstrap.Demo.RCL/Components/Layout/EmptyLayout.razor.cs
  BlazorBootstrap.Demo.RCL/Components/Layout/MainLayout.razor
  BlazorBootstrap.Demo.RCL/Components/Layout/MainLayoutBase.cs
  BlazorBootstrap.Demo.RCL/Components/Layout/MainLayoutBaseFooter.razor
  BlazorBootstrap.Demo.RCL/Components/Shared/Demo.razor
  BlazorBootstrap.Demo.RCL/Components/Shared/Demo.razor.cs
  BlazorBootstrap.Demo.RCL/Components/Shared/Demo.razor.css
  BlazorBootstrap.Demo.RCL/wwwroot/css/blazorbootstrap.demo.rcl.css
  BlazorBootstrap.Demo.RCL/wwwroot/css/prism-vs.min.css
  BlazorBootstrap.Demo.RCL/wwwroot/css/prism-vsc-dark-plus.min.css
  BlazorBootstrap.Demo.RCL/wwwroot/js/blazorbootstrap.demo.rcl.js
  BlazorBootstrap.Demo.Server/Components/App.razor
  blazorbootstrap/Components/Callout/Callout.razor.css
  blazorbootstrap/Components/Modals/Modal.razor.cs
  blazorbootstrap/Components/Toasts/Toast.razor.cs
  blazorbootstrap/Enums/ModalType.cs
  blazorbootstrap/Models/ModalOption.cs
  blazorbootstrap/wwwroot/blazor.bootstrap.css
Labels: area-dark-mode

#916 Removed unnecessary data iteration.
  blazorbootstrap/Models/GridDataProviderRequest.cs
Labels: area-grid

#922 blazor bootstrap layout component + theme switcher - preview version
  BlazorBootstrap.Demo.RCL/Components/Layout/MainLayout.razor
  blazorbootstrap/Components/Core/BlazorBootstrapLayoutComponentBase.cs
  blazorbootstrap/Components/Layout/BlazorBootstrapLayout.razor
  blazorbootstrap/Components/Layout/BlazorBootstrapLayout.razor.cs
  blazorbootstrap/Components/Layout/BlazorBootstrapLayout.razor.css
  blazorbootstrap/Components/ThemeSwitcher/ThemeSwitcher.razor
  blazorbootstrap/Components/ThemeSwitcher/ThemeSwitcher.razor.cs
  blazorbootstrap/Components/ThemeSwitcher/ThemeSwitcher.razor.css
  blazorbootstrap/Components/ThemeSwitcher/ThemeSwitcherJsInterop.cs
  blazorbootstrap/Config.cs
  blazorbootstrap/wwwroot/blazor.bootstrap.css
  blazorbootstrap/wwwroot/blazor.bootstrap.theme-switcher.js
Labels: area-dark-mode, area-layout, area-theme-switcher
