Repository vikramlearning/blazorbootstrap, pull requests merged in 2024-01, with the labels that each got.

#495 Grid: Filters - Support string NotEqual
  blazorbootstrap/Components/Grid/FilterOperatorHelper.cs
  blazorbootstrap/Extensions/ExpressionExtensions.cs
Labels: enhancement, area-grid

#497 badge demos updates
  BlazorBootstrap.Demo.RCL/Pages/Badge/Badge_Demo_02_Background_Colors.razor
  BlazorBootstrap.Demo.RCL/Pages/Badge/Badge_Demo_03_Pill_Badges.razor
Labels: area-badge

#502 RangeInput component
  BlazorBootstrap.Demo.RCL/Pages/Form/RangeInput/RangeInputDocumentation.razor
  BlazorBootstrap.Demo.RCL/Pages/Form/RangeInput/RangeInput_Demo_01_Basic_Usage_A.razor
  BlazorBootstrap.Demo.RCL/Pages/Form/RangeInput/RangeInput_Demo_01_Basic_Usage_B.razor
  BlazorBootstrap.Demo.RCL/Pages/Form/RangeInput/RangeInput_Demo_02_Disabled_A.razor
  BlazorBootstrap.Demo.RCL/Pages/Form/RangeInput/RangeInput_Demo_02_Disabled_B.razor
  BlazorBootstrap.Demo.RCL/Pages/Form/RangeInput/RangeInput_Demo_03_Min_Max.razor
  BlazorBootstrap.Demo.RCL/Pages/Form/RangeInput/RangeInput_Demo_04_Step.razor
  BlazorBootstrap.Demo.RCL/Pages/Form/RangeInput/RangeInput_Demo_05_Tick_Marks.razor
  BlazorBootstrap.Demo.RCL/Pages/Index.razor
  BlazorBootstrap.Demo.RCL/Shared/MainLayout.razor.cs
  blazorbootstrap/Components/Form/RangeInput/RangeInput.razor
  blazorbootstrap/Components/Form/RangeInput/RangeInput.razor.cs
  blazorbootstrap/Components/Form/Switch/Switch.razor
  blazorbootstrap/Models/TickMark.cs
  blazorbootstrap/Utilities/BootstrapClassProvider.cs
  blazorbootstrap/wwwroot/blazor.bootstrap.css
  blazorbootstrap/wwwroot/blazor.bootstrap.js
  docs/docs/04-forms/range-input.mdx
  docs/docs/04-forms/switch.mdx
  docs/docs/04-forms/time-input.mdx
Labels: area-range-input

#517 PDF Viewer Component
  BlazorBootstrap.Demo.RCL/Pages/Index.razor
  BlazorBootstrap.Demo.RCL/Pages/PdfViewer/PdfViewerDocumentation.razor
  BlazorBootstrap.Demo.RCL/Pages/PdfViewer/PdfViewer_Demo_01_Examples.razor
  BlazorBootstrap.Demo.RCL/Shared/MainLayout.razor.cs
  blazorbootstrap/Components/PdfViewer/PdfViewer.razor
  blazorbootstrap/Components/PdfViewer/PdfViewer.razor.cs
  blazorbootstrap/Components/PdfViewer/PdfViewerJsInterop.cs
  blazorbootstrap/Config.cs
  blazorbootstrap/EventArguments/PdfViewerEventArgs.cs
  blazorbootstrap/Models/PdfViewerModel.cs
  blazorbootstrap/wwwroot/blazor.bootstrap.css
  blazorbootstrap/wwwroot/blazor.bootstrap.pdf.js
  blazorbootstrap/wwwroot/pdfjs-4.0.379.min.mjs
  blazorbootstrap/wwwroot/pdfjs-4.0.379.worker.min.mjs
  docs/docs/05-components/pdf-viewer.mdx
  docs/docs/05-components/placeholders.mdx
  docs/docs/05-components/preload.mdx
  docs/docs/05-components/progress.mdx
  docs/docs/05-components/sidebar.mdx
  docs/docs/05-components/tabs.mdx
  docs/docs/05-components/toasts.mdx
  docs/docs/05-components/tooltips.mdx
Labels: area-pdf-viewer

#525 Allow to return objects from tab buttons
  BlazorBootstrap.Demo.RCL/Pages/Tabs/TabsDocumentation.razor
  BlazorBootstrap.Demo.RCL/Pages/Tabs/Tabs_Demo_10_Return_Object.razor
  blazorbootstrap/Components/Tabs/Tab.razor.cs
  blazorbootstrap/Components/Tabs/Tabs.razor
  blazorbootstrap/Components/Tabs/Tabs.razor.cs
  docs/docs/05-components/tabs.mdx
  docs/package-lock.json
Labels: area-tabs

#519 Add vertical tabs
  BlazorBootstrap.Demo.RCL/Pages/Tabs/TabsDocumentation.razor
  BlazorBootstrap.Demo.RCL/Pages/Tabs/Tabs_Demo_10_Vertical_Tabs.razor
  blazorbootstrap/Components/Tabs/Tabs.razor
  blazorbootstrap/Components/Tabs/Tabs.razor.cs
  blazorbootstrap/Enums/NavStyle.cs
  blazorbootstrap/Utilities/BootstrapClassProvider.cs
Labels: area-tabs

#527 AutoComplete dispose issue
  blazorbootstrap/Components/Form/AutoComplete/AutoComplete.razor.cs
Labels: bug, area-autocomplete

#533 Docs/Demos update
  BlazorBootstrap.Demo.RCL/Pages/Index.razor
  BlazorBootstrap.Demo.RCL/Pages/PdfViewer/PdfViewerDocumentation.razor
  BlazorBootstrap.Demo.RCL/Pages/Tabs/TabsDocumentation.razor
  BlazorBootstrap.Demo.RCL/Pages/Tabs/Tabs_Demo_06_Nav_Style_Underline.razor
  BlazorBootstrap.Demo.RCL/Pages/Tabs/Tabs_Demo_07_Vertical_A.razor
  BlazorBootstrap.Demo.RCL/Pages/Tabs/Tabs_Demo_07_Vertical_B_Pills.razor
  BlazorBootstrap.Demo.RCL/Pages/Tabs/Tabs_Demo_07_Vertical_C_Underline.razor
  BlazorBootstrap.Demo.RCL/Pages/Tabs/Tabs_Demo_08_Activate_Individual_Tabs.razor
  BlazorBootstrap.Demo.RCL/Pages/Tabs/Tabs_Demo_09_Events_Order.razor
  BlazorBootstrap.Demo.RCL/Pages/Tabs/Tabs_Demo_10_Events_Example.razor
  BlazorBootstrap.Demo.RCL/Pages/Tabs/Tabs_Demo_11_Methods_Set_Active_Tab_OnAfterRender.razor
  BlazorBootstrap.Demo.RCL/Pages/Tabs/Tabs_Demo_12_Tab_Callback_Event_OnTabClicked.razor
  blazorbootstrap/Components/Tabs/Tabs.razor
  blazorbootstrap/Components/Tabs/Tabs.razor.cs
  docs/docs/05-components/tabs.mdx
Labels: area-tabs
